<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DirectoryExchanger.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <DirectoryExchanger.Properties.Settings>
            <setting name="Path1" serializeAs="String">
                <value />
            </setting>
            <setting name="Path2" serializeAs="String">
                <value />
            </setting>
            <setting name="allDirs" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ignoreTimeDiffs" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="instantPreview" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="advancedFilter" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="autoSavePaths" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ignoreFileData" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="namesView" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="sortDigits" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="sortSizes" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="isPaths" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="oldPath1" serializeAs="String">
                <value />
            </setting>
            <setting name="oldPath2" serializeAs="String">
                <value />
            </setting>
        </DirectoryExchanger.Properties.Settings>
    </userSettings>
</configuration>